In [1]:
import pandas as pd

In [26]:
# Mapping lets you format an entire DataFrame
file = "Resources/Seattle_Housing_Cost_Burden.csv"
file_df = pd.read_csv(file)
file_df.head()

,YEAR,AMI,RACE,TENURE,AGE,TOTAL,BURDEN30,BURDEN3050,BURDEN50,NODATA,NOBURDEN,PERCENT30,PERCENT3050,PERCENT50,PERCENT_NODATA,PERCENT_NOBURDEN,INCOME,COSTS,ObjectId
0,2006,Above 120%,Native,Renters,Seniors,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,2006,Above 120%,Native,Renters,Children,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
2,2006,Above 120%,Asian,All,All,33864,5655,4488,1167,0,28209,0.166991,0.132530,0.034461,0.0,0.833009,146287.706591,2473.832373,3
3,2006,Above 120%,Asian,All,Seniors,1718,517,360,157,0,1201,0.300931,0.209546,0.091385,0.0,0.699069,147017.508731,2508.574904,4
4,2006,Above 120%,Asian,All,Children,3703,504,436,68,0,3199,0.136106,0.117742,0.018363,0.0,0.863894,161444.756144,2873.532237,5

In [27]:
file_df=file_df.dropna()

In [28]:
# Use Map to format all the columns
file_df["INCOME"] = file_df["INCOME"].map("${:,.2f}".format)
file_df["COSTS"] = file_df["COSTS"].map("${:,.2f}".format)
file_df["PERCENT30"] = (file_df["PERCENT30"]*100).map("{:.1f}%".format)
file_df["PERCENT3050"] = (file_df["PERCENT3050"]*100).map("{:.1f}%".format)
file_df["PERCENT50"] = (file_df["PERCENT50"]*100).map("{:.1f}%".format)
file_df["PERCENT_NODATA"] = (file_df["PERCENT_NODATA"]*100).map("{:.1f}%".format)
file_df["PERCENT_NOBURDEN"] = (file_df["PERCENT_NOBURDEN"]*100).map("{:.1f}%".format)
file_df["TOTAL"] = file_df["TOTAL"].map("{:,}".format)
file_df["INCOME"].head()

2    $146,287.71
3    $147,017.51
4    $161,444.76
5    $152,446.17
6    $152,593.91
Name: INCOME, dtype: object

In [29]:
# Mapping has changed the datatypes of the columns to strings
file_df.dtypes

YEAR                 int64
AMI                 object
RACE                object
TENURE              object
AGE                 object
TOTAL               object
BURDEN30             int64
BURDEN3050           int64
BURDEN50             int64
NODATA               int64
NOBURDEN             int64
PERCENT30           object
PERCENT3050         object
PERCENT50           object
PERCENT_NODATA      object
PERCENT_NOBURDEN    object
INCOME              object
COSTS               object
ObjectId             int64
dtype: object

In [30]:
file_df.head()

,YEAR,AMI,RACE,TENURE,AGE,TOTAL,BURDEN30,BURDEN3050,BURDEN50,NODATA,NOBURDEN,PERCENT30,PERCENT3050,PERCENT50,PERCENT_NODATA,PERCENT_NOBURDEN,INCOME,COSTS,ObjectId
2,2006,Above 120%,Asian,All,All,"33,864",5655,4488,1167,0,28209,16.7%,13.3%,3.4%,0.0%,83.3%,"$146,287.71","$2,473.83",3
3,2006,Above 120%,Asian,All,Seniors,"1,718",517,360,157,0,1201,30.1%,21.0%,9.1%,0.0%,69.9%,"$147,017.51","$2,508.57",4
4,2006,Above 120%,Asian,All,Children,"3,703",504,436,68,0,3199,13.6%,11.8%,1.8%,0.0%,86.4%,"$161,444.76","$2,873.53",5
5,2006,Above 120%,Asian,Owners,All,"27,066",5580,4413,1167,0,21486,20.6%,16.3%,4.3%,0.0%,79.4%,"$152,446.17","$2,473.83",6
6,2006,Above 120%,Asian,Owners,Seniors,"1,562",517,360,157,0,1045,33.1%,23.0%,10.1%,0.0%,66.9%,"$152,593.91","$2,508.57",7

In [31]:
file_df

,YEAR,AMI,RACE,TENURE,AGE,TOTAL,BURDEN30,BURDEN3050,BURDEN50,NODATA,NOBURDEN,PERCENT30,PERCENT3050,PERCENT50,PERCENT_NODATA,PERCENT_NOBURDEN,INCOME,COSTS,ObjectId
2,2006,Above 120%,Asian,All,All,"33,864",5655,4488,1167,0,28209,16.7%,13.3%,3.4%,0.0%,83.3%,"$146,287.71","$2,473.83",3
3,2006,Above 120%,Asian,All,Seniors,"1,718",517,360,157,0,1201,30.1%,21.0%,9.1%,0.0%,69.9%,"$147,017.51","$2,508.57",4
4,2006,Above 120%,Asian,All,Children,"3,703",504,436,68,0,3199,13.6%,11.8%,1.8%,0.0%,86.4%,"$161,444.76","$2,873.53",5
5,2006,Above 120%,Asian,Owners,All,"27,066",5580,4413,1167,0,21486,20.6%,16.3%,4.3%,0.0%,79.4%,"$152,446.17","$2,473.83",6
6,2006,Above 120%,Asian,Owners,Seniors,"1,562",517,360,157,0,1045,33.1%,23.0%,10.1%,0.0%,66.9%,"$152,593.91","$2,508.57",7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,2018,80 - 120%,Hispanic,Owners,All,"6,532",1787,1508,279,0,4745,27.4%,23.1%,4.3%,0.0%,72.6%,"$94,001.98","$1,874.33",4205
4205,2018,80 - 120%,Hispanic,Owners,Seniors,"1,028",381,283,98,0,647,37.1%,27.5%,9.5%,0.0%,62.9%,"$82,983.95","$1,623.16",4206
4206,2018,80 - 120%,Hispanic,Owners,Children,964,365,365,0,0,599,37.9%,37.9%,0.0%,0.0%,62.1%,"$97,281.33","$2,023.48",4207
4210,2018,Above 120%,All,All,All,"398,219",22323,20274,2049,0,375896,5.6%,5.1%,0.5%,0.0%,94.4%,"$217,783.59","$2,723.83",4211
4211,2018,Above 120%,All,All,Seniors,"51,613",2921,2495,426,0,48692,5.7%,4.8%,0.8%,0.0%,94.3%,"$192,004.80","$1,973.15",4212