In [1]:
# Dependencies
import pandas as pd

In [3]:
# Load in File from resources
# 'movie_scores.csv'
file_path = "Resources/movie_scores.csv"

In [4]:
# Read and display with pandas
movies_df  = pd.read_csv(file_path)
movies_df.head(2)

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
1,Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5

In [32]:
# List all the columns the table provides
cols = movies_df.columns
new_col=[]

for c in cols:
    if (c.startswith('IMDB') |c.startswith('FILM') ):
        new_col.append(c)
new_col

['FILM', 'IMDB', 'IMDB_norm', 'IMDB_norm_round', 'IMDB_user_vote_count']

In [39]:
new_col = [c for c in cols ]

In [40]:
# only care about Imdb, so create a new table that takes the Film and all the columns relating to IMDB
imdb_df = movies_df[new_col]
imdb_df.head(2)

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
1,Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5

In [17]:
# List only movies whose ratings are over 7 (out of 10) in IMDB
good_movies_df = imdb_df.loc[imdb_df['IMDB'] >=7.0]
good_movies_df.tail(2)

,FILM,IMDB,IMDB_norm,IMDB_norm_round,IMDB_user_vote_count
143,"Two Days, One Night (2014)",7.4,3.7,3.5,24345
144,Gett: The Trial of Viviane Amsalem (2015),7.8,3.9,4.0,1955

In [23]:
# Find lesser-known movies to watch, with fewer than 20K votes
unknown_df = good_movies_df.loc[good_movies_df['IMDB_user_vote_count'] <20000]
unknown_df.tail()

,FILM,IMDB,IMDB_norm,IMDB_norm_round,IMDB_user_vote_count
129,Amy (2015),8.0,4.00,4.0,5630
132,Max (2015),7.0,3.50,3.5,5444
137,Danny Collins (2015),7.1,3.55,3.5,11206
141,Mr. Holmes (2015),7.4,3.70,3.5,7367
144,Gett: The Trial of Viviane Amsalem (2015),7.8,3.90,4.0,1955

In [26]:
# Finally, export this file to an Excel spreadsheet -- without the DataFrame index.
unknown_df.to_csv("MY movie list.csv",index=False)